    <div class="card">
      <h2 class="card-title">{{title}}</h2>
      <p class="card-descr">{{description}}</p>
      <img src="{{image}}" alt="" class="card-img">
      <a href="{{url}}" class="card-url">{{url}}</a>
      <button class="card-delete button">Delete</button>
    </div>